.menu-button {
  margin: 0 0 0 10px;
  display: flex;

  border: none;
  background-color: transparent;
}
.menu-button:focus {
  outline: none;
}

.menu-icon {
  width: 30px;
  height: 39px;
  cursor: pointer;
}
