.listResult {
  display: flex;
  padding-top: 50px;
  min-height: 80vh;
}

.filtered {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtered-title {
  font-size: 25px;
}

.filtered-list {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filtered-item {
  margin: 10px 0;
}

.filtered-link {
  text-decoration: none;
  color: #888888;
  font-size: 15px;
  transition: all 0.4s;
}
.filtered-link:hover {
  text-decoration: none;
  color: #000;
}

/* ------- Lista de resultados -------- */

.result {
  width: 90%;
}

.listResult-title {
  font-size: 35px;
  margin: 0 0 30px 70px;
}
.categorie-title:first-letter {
  text-transform: uppercase;
}
.categorie-title {
  font-size: 35px;
  margin: 0 0 30px 70px;
}
