.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .header-title {
    margin: 50px 50px 0 0;
  
    color: #000;
  }
  
  /* input */
  .header-form {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }

  .header-form input {
    width: 400px;
    height: 30px;
  }
  .header-form button {
    height: 30px;
  }

  /* shopping cart */

  .link-shoppingCart {
    margin: 50px 0 0 60px;
    height: 40px;
  }

  .header-shoppingCart {
    width: 40px;
    height: 40px;
  }

  /* links navegation */

  .header-nav {
    margin: 40px 0 0 0;
    width: 100%;
  }
  .header-list {
    list-style: none;
  
    display: flex;
    justify-content: center;
  
    margin-bottom: 30px;
  }
  .header-item {
    width: 10%;
  
    display: flex;
    justify-content: space-around;
  }
  .header-link {
    text-decoration: none;
    color: #000;
  }