.productResult {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.productResult-list {
  list-style: none;
  padding: 0;
}

.productResult-img {
  width: 150px;
}

.productResult-box {
  width: 70%;

  display: flex;
  justify-content: center;
}
.productResult-bigImg {
  width: 500px;
}

.productResult-titulo {
  font-size: 30px;
  margin: 50px 0 40px 0;
  padding: 0 40px 0 40px;
  text-align: center;
}
.productResult-precio {
  font-size: 40px;
  margin: 0 0 30px 0;
}

.productResult-description {
  padding: 0 0 0 30px;
}
.productResult-descripcion {
  margin: 0 0 50px 0;
}

.productResult-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productResult-botonLink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #1565c0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 38px;
  padding-bottom: 2px;
  transition: all 0.2s;
}
.productResult-botonLink:hover {
  background-color: #6da7e9;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}

.productResult-boton {
  font-size: 20px;
  border: none;
  width: 50%;
  height: 40px;
  color: #fff;

  background-color: #3eb4eb;
  transition: all 0.2s;
}
.productResult-boton:hover {
  background-color: #7bd0f8;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}
.productResult-boton:focus {
  outline: none;
}
