.messenge_loading {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.messenge_loading-img {
  width: 70px;
  height: 70px;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.productResult {
  margin: 30px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.productResult-images {
  display: flex;
}

.productResult-list {
  list-style: none;
  padding: 0;
  margin: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productResult-item {
  display: flex;
}

.productResult-img {
  width: 150px;
}
.productResult-bigImg {
  width: 500px;
}

.productResult-box {
  width: 45%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.productResult-title {
  font-size: 30px;
  margin: 100px 0 20px 0;
  padding: 0 40px 0 40px;
  text-align: center;
}

.productResult-description {
  font-size: 23px;
  text-align: center;

  width: 90%;
  margin: 0 auto;
}

.productResult-price {
  font-size: 40px;
  font-weight: bold;
  width: 70%;
  margin: 30px auto 10px auto;
}

.productResult-container {
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productResult-botonLink {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  background-color: #1565c0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 38px;
  padding-bottom: 2px;
  transition: all 0.2s;
}
.productResult-botonLink:hover {
  background-color: #6da7e9;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}

.productResult-boton {
  font-size: 23px;
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;

  background-color: #3eb4eb;
  transition: all 0.2s;
}
.productResult-boton:hover {
  background-color: #7bd0f8;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}
.productResult-boton:focus {
  outline: none;
}
