.modal {
  background-color: #fff;
  position: fixed;
  top: 200px;
  bottom: 0;

  width: 40%;
  height: 200px;

  display: flex;
  margin: 0 0 0 400px;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 1px;
}

.modal-content {
  margin-top: 40px;

  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  width: 30%;
  height: 40px;
  margin: 60px auto 0 auto;
  font-size: 20px;

  border: none;
  background-color: #649d66;
  transition: 0.3s;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.modal-button:hover {
  background-color: #8acf8c;
}
.modal-button:active {
  outline: none;
  border: none;
}
