.shoppingCart {
  display: flex;

  min-height: 100vh;
}

.shoppingCart-shoppingList {
  width: 60%;
  margin: 20px 0 15px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
}

.cardProduct {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 300px;
  box-shadow: 5px 5px 10px #888888;
  padding: 10px;

  margin: 30px 0 20px 30px;
}
.cardProduct-idProduct {
  background-color: rgb(255, 204, 36);
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin: 0 0 10px 0;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cardProduct-img {
  width: 300px;
}

.cardProduct-product span {
  font-weight: bold;
  font-size: 20px;
}

.cardProduct-button {
  margin-top: 30px;
}

.cardCost {
  border-left: 1px solid black;
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCost-container {
  border-bottom: 1px solid black;
  margin-top: 30px;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCost-productName {
  font-size: 25px;
}
.cardCost-productName span {
  font-weight: bold;
  margin: 0 10px 0 0;
}

.cardCost-price {
  margin-top: 10px;
  font-size: 30px;

  padding-bottom: 20px;
}
.cardCost-total {
  font-size: 30px;
  font-weight: bold;
}

.buttons-container {
  background-color: black;
  height: 200px;
}
.buttons {
  background-color: black;
  padding: 0 200px 0 0;
  height: 200px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 0 0 50px;
  background-color: rgb(71, 96, 134);

  width: 150px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
