.shoppingCart {
  display: flex;
  min-height: 100vh;
}
.shoppingCart-flex_container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.shoppingCart-title_Cart {
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;

  width: 95%;
  max-width: 1010px;
  margin: 20px auto 0 auto;
}

.shoppingCart-shoppingList {
  width: 95%;
  max-width: 1010px;
  margin: 20px auto 15px auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* ProductCart - view to the product */
.cardProduct {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.cardProduct-description {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 70%;
  margin: 0 auto;
}

.cardProduct-img {
  width: 200px;
}
.cardProduct-product {
  max-width: 400px;
  width: 60%;
  margin-right: 10px;
}
.cardProduct-product_name {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}
.cardProduct-product_product {
  font-size: 19px;
}
.cardProduct-price {
  font-size: 20px;
  font-weight: bold;
}

.cardProduct-button {
  background-color: transparent;
  border: 2px solid #c70039;
  color: #c70039;
  border-radius: 50px;
  align-self: flex-start;
  width: 70px;
  height: 30px;
  font-weight: bold;
  transition: all 0.4s;
}
.cardProduct-button:hover {
  border: none;
  background-color: #c70039;
  color: #fff;
}

/* Cost Container */

.cardCost {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f1f1f1;
}
.shoppingCart-title_summary {
  margin: 20px auto 0 auto;
  font-size: 30px;
}
.cardCost-container {
  margin: 30px 0 30px 0;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardCost-productName {
  font-size: 20px;
}
.cardCost-productName-bold {
  font-weight: bold;
  font-size: 25px;
}
.cardCost-price {
  margin-top: 10px;
  font-size: 25px;

  padding-bottom: 20px;
}
.cardCost-total {
  font-size: 30px;
  font-weight: bold;
}

.button {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;

  width: 150px;
  height: 50px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009b41;
  border-radius: 5px;
  transition: all 0.2s;
}

.button:hover {
  background-color: #5fcc8c;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}
